<section class="container mt-4">
  <h2 class="text-center">DETAILS</h2>
  <div class="mt-4">
    <h1><%= @category.name %> Transactions</h1>
    <p>Total Amount: $<%= @total_sum %></p>

    <% @transaction_entries.each do |transaction| %>
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title"><%= transaction.name %></h3>
          <p class="card-text">Amount: $<%= transaction.amount %></p>
        </div>
      </div>
    <% end %>
  </div>

  <div class="d-grid gap-2 mt-4">
    <%= link_to 'Add a New Transaction', new_category_transaction_entry_path(@category), class: 'btn btn-outline-dark' %>
    <%= link_to 'Back', categories_path, class: 'btn btn-outline-primary' %>
  </div>
</section>
